In [5]:
import pandas as pd

# load the first time series dataset from a CSV file
df1 = pd.read_csv('2023-05-03.csv', parse_dates=['retrived_at'])
df1.set_index('retrived_at', inplace=True)

# load the second time series dataset from a CSV file
df2 = pd.read_csv('2023-05-04.csv', parse_dates=['retrived_at'])
df2.set_index('retrived_at', inplace=True)

df3 = pd.read_csv('2023-05-05.csv', parse_dates=['retrived_at'])
df3.set_index('retrived_at', inplace=True)

# merge the two datasets based on the time index
df_merged = pd.merge(df1, df2, left_index=True, right_index=True, how='outer')


# save the merged dataset to a CSV file
df_merged.to_csv('merged_time_series.csv')

In [21]:
import pandas as pd

# Load CSV files into dataframes
df1 = pd.read_csv('2023-05-03.csv')
df2 = pd.read_csv('2023-05-04.csv')
df3 = pd.read_csv('2023-05-05.csv')

# Append dataframes
appended_df = pd.concat([df1, df2, df3], ignore_index=True)

# Save appended dataframe to a new CSV file
appended_df.to_csv('appended_file.csv', index=False)

TypeError: incompatible index of inserted column with frame index

In [15]:
original_df = pd.read_csv('C:/Users/Asus/Documents/DSI321/week13/2023-05-0322023-05-05.csv')

In [16]:
original_df.describe(percentiles=[i/4 for i in range(1,4)])

,pollution_aqi,weather_tp,weather_pr,weather_hu,weather_ws,weather_wd
count,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000
mean,72.628141,30.010050,1007.613065,68.497487,2.707286,194.643216
std,32.532694,3.741644,3.059351,16.053218,1.227681,66.292955
min,19.000000,23.000000,988.000000,27.000000,0.000000,0.000000
25%,53.000000,27.000000,1007.000000,58.000000,2.035000,183.000000
50%,63.000000,30.000000,1008.000000,74.000000,2.570000,200.000000
75%,93.000000,33.000000,1009.000000,79.000000,3.780000,215.500000
max,171.000000,39.000000,1012.000000,99.000000,5.380000,360.000000

In [17]:
original_df

,retrived_at,province_id,city,state,country,pollution_aqi,polution_main,weather_tp,weather_pr,weather_hu,weather_ws,weather_wd
0,05/03/2023 01:16,TH-12,Mueang Nonthaburi,Nonthaburi,Thailand,56,p2,30,1010,66,3.09,200
1,05/03/2023 01:17,TH-13,Khlong Luang,Pathum Thani,Thailand,57,p2,30,1010,87,3.09,200
2,05/03/2023 01:17,TH-14,Ayutthaya,Phra Nakhon Si Ayutthaya,Thailand,63,p2,27,1009,71,2.76,217
3,05/03/2023 01:18,TH-15,Ban Phraek,Phra Nakhon Si Ayutthaya,Thailand,99,p2,27,1009,72,2.74,212
4,05/03/2023 01:18,TH-16,Ban Mi,Lop Buri,Thailand,108,p2,29,1009,73,2.60,206
...,...,...,...,...,...,...,...,...,...,...,...,...
194,05/05/2023 13:18,TH-15,Ban Phraek,Phra Nakhon Si Ayutthaya,Thailand,83,p2,37,1003,31,3.65,206
195,05/05/2023 13:18,TH-16,Ban Mi,Lop Buri,Thailand,62,p2,37,1003,33,3.09,222
196,05/05/2023 13:19,TH-20,Na Kluea,Chon Buri,Thailand,72,p2,34,1005,60,5.18,216
197,05/05/2023 13:19,TH-21,Ban Khai,Rayong,Thailand,42,p2,35,1006,61,5.20,189
198,05/05/2023 13:20,TH-50,Chiang Mai,Chiang Mai,Thailand,128,p2,36,1006,41,3.09,190

In [22]:
import pandas as pd

start_date = '2023-05-03'
end_date = '2023-05-05'

mask = (appended_df['retrived_at'] >= start_date) & (appended_df['retrived_at'] <= end_date)
filtered_df = appended_df.loc[mask]

average_aqi = filtered_df['pollution_aqi'].mean()
print(f'The average AQI pollution from {start_date} to {end_date} is {average_aqi:.2f}.')

The average AQI pollution from 2023-05-03 to 2023-05-05 is nan.

In [30]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('3-5.csv')

# Convert the 'retrieved_at' column to a datetime object
df['retrieved_at'] = pd.to_datetime(df['retrived_at'])

# Filter the DataFrame to include only data from May 3rd to May 5th, 2023
mask = (df['retrieved_at'] >= '2023-05-03') & (df['retrieved_at'] <= '2023-05-05')
df = df.loc[mask]

# Calculate the average AQI pollution for each city
avg_aqi = df.groupby('state')['pollution_aqi'].mean()

# Print the resulting Series
print(avg_aqi)

state
Bangkok                      68.000000
Chiang Mai                   64.538462
Chon Buri                    45.583333
Lampang                     126.916667
Lop Buri                    100.333333
Nonthaburi                   46.333333
Pathum Thani                 46.916667
Phra Nakhon Si Ayutthaya     87.625000
Rayong                       46.750000
Samut Prakan                 40.666667
Name: pollution_aqi, dtype: float64

In [31]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('3-5.csv')

# Convert the 'retrieved_at' column to a datetime object
df['retrieved_at'] = pd.to_datetime(df['retrived_at'])

# Filter the DataFrame to include only data from May 3rd to May 5th, 2023
mask = (df['retrieved_at'] >= '2023-05-03') & (df['retrieved_at'] <= '2023-05-05')
df = df.loc[mask]

# Calculate the average AQI pollution for each city
avg_aqi = df.groupby('city')['pollution_aqi'].mean()

# Print the resulting Series
print(avg_aqi)

city
Ayutthaya             78.583333
Ban Khai              46.750000
Ban Mi               100.333333
Ban Phraek            96.666667
Bang Phli             40.666667
Chiang Mai            64.538462
Hang Chat            126.916667
Khlong Luang          46.916667
Mueang Nonthaburi     46.333333
Na Kluea              45.583333
Phra Nakhon           68.000000
Name: pollution_aqi, dtype: float64

In [29]:
import pandas as pd

# Load the data from the CSV file
df = pd.read_csv('3-5.csv')

# Convert the retrieved_at column to a datetime object
df['retrieved_at'] = pd.to_datetime(df['retrived_at'])

# Filter the data to only include dates between 2023-05-03 and 2023-05-05
start_date = pd.to_datetime('2023-05-03')
end_date = pd.to_datetime('2023-05-05')
mask = (df['retrieved_at'] >= start_date) & (df['retrieved_at'] <= end_date)
filtered_df = df.loc[mask]

# Calculate the average AQI for each city
city_aqi = filtered_df.groupby('city')['pollution_aqi'].mean().reset_index()
city_aqi.columns = ['city', 'average_aqi']

# Merge the average AQI data back into the original dataframe
merged_df = pd.merge(df, city_aqi, on='city', how='left')

# View the updated dataframe
print(merged_df.head())

        retrived_at province_id               city                     state  \
0  05/03/2023 01:16       TH-12  Mueang Nonthaburi                Nonthaburi
1  05/03/2023 01:17       TH-14          Ayutthaya  Phra Nakhon Si Ayutthaya
2  05/03/2023 01:17       TH-13       Khlong Luang              Pathum Thani
3  05/03/2023 01:18       TH-16             Ban Mi                  Lop Buri
4  05/03/2023 01:18       TH-15         Ban Phraek  Phra Nakhon Si Ayutthaya

    country  pollution_aqi polution_main  weather_tp  weather_pr  weather_hu  \
0  Thailand             56            p2          30        1010          66
1  Thailand             63            p2          27        1009          71
2  Thailand             57            p2          30        1010          87
3  Thailand            108            p2          29        1009          73
4  Thailand             99            p2          27        1009          72

   weather_ws  weather_wd        retrieved_at  average_aqi
0        3.09         200 2023-05-03 01:16:00    46.333333
1        2.76         217 2023-05-03 01:17:00    78.583333
2        3.09         200 2023-05-03 01:17:00    46.916667
3        2.60         206 2023-05-03 01:18:00   100.333333
4        2.74         212 2023-05-03 01:18:00    96.666667